*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    background-color: rgb(13, 21, 35);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    margin: 0 auto;
    width: 760px;
}

.card{

    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(0, 40, 54);
    margin: 1rem;
}

.question-wrapper{
    width: 100%;
    position: relative;
    padding: 1.5rem;
    border-bottom: 3px solid rgba(47, 220, 255, 0.158);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.quiz-item{
    
    
}

.item-type{

    color: rgb(0, 179, 255);
    font-size: 25px;
}

.item-value{
    margin: 1rem 0;
}

.btn{

    outline: none;
    background-color: rgb(0, 20, 34);
    color: rgb(0, 200, 255);
    padding: 0.6rem;
    border: 1px dashed rgb(0, 200, 255);
    cursor: pointer;
    border-radius: 0.5rem
}

.hide{
    display: none;
    height: 0px;
}